@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,400;1,600&display=swap');

:root {
    --c-txt-base: white;
    --c-txt-muted: #888;
    --c-bg-base: #101010;

    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: var(--c-txt-base);
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--c-bg-base);
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    white-space: nowrap;
}

h1 {
    font-size: 2rem;
}

a {
    color: var(--c-txt-muted);
    transition: color 0.1s;
}

a:hover {
    color: var(--c-txt-base);
}

.link-icons {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

li {
    list-style: none;
}

.muted {
    color: var(--c-txt-muted);
}