@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

:root {
    --c-txt-base: #888;
    --c-txt-bright: white;
    --c-bg-base: #101010;

    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: var(--c-txt-base);
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--c-bg-base);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem;
    animation: fadeIn ease 1s;
}

img.profile {
    width: 120px;
    height: 120px;
    margin-bottom: 1rem;
    border-radius: 50%;
}

h1 {
    color: var(--c-txt-bright);
    font-size: 2rem;
}

a {
    color: var(--c-txt-base);
    transition: color 0.1s;
}

a:hover,
a:active
a:focus,
a:focus-visible {
    outline: none;
    color: var(--c-txt-bright);
}

.link-icons {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    height: 33px;
}

li {
    list-style: none;
}

.prominent {
    color: var(--c-txt-bright);
}

.muted {
    color: var(--c-txt-base);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}